@use "../../../variables" as *;



.project-overview-body{
    position: relative;
    height: 100%;
}

.bottom-task-card-overview{
    position: absolute;
    width: 90%;
    bottom: 0;}


.project-overview-description{
    -webkit-line-clamp: 2; 
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: $dark;
    















    
}