@use "../../../variables" as *;


.employee-section{
    width: 100%;
    color: white;
    .add-employee{
        width: 100%;
        height: 50px;
        background: $primary;   
        overflow: none;
        border: none;
    }
    .employee-lists{
        width: 100%;
    }
}
.employee-dialog{
    background-color: $secondary;
    color: white;
}