@use "../../../variables" as *;


tr{
    width: 100%;
    
    color: $light;
    background: linear-gradient(180deg, rgba(33,36,70,1) 0%, rgba(33,36,70,1) 92%, rgba(33,36,70,0.7091211484593838) 97%);
    .danger{
        color: #ff6384;
      }
      .warning{
        color: #ffe863;
      }
      .primary{
        color: #81d7b5;
      }
      .grey{
        color: #ffffff;
      }
}